header {
  background-color: var(--clr-primary-light);
  color: var(--clr-neutral-light);
  text-shadow: rgba(0, 0, 0, 0.15) 0.2em 0.2em 2.6px;
}

header .container {
  --padding-block: 1.25rem;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  align-self: center;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.button {
  max-width: 6rem;
  width: 100%;
  background-color: var(--clr-accent-light);
  color: white;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  padding-block: 0.625rem;
  line-height: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0.2em 0.2em 2.6px;
}